@(message: String)

<!DOCTYPE html>
<html>
  <head>
    <title>My Scala Webpage</title>
     <!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaKN7+aKzUB+2I7iJieeA8e1BPMohQHO5DW9e45CTMhzZmq1x4EMuSV4jXA" crossorigin="anonymous">

<!-- Bootstrap JavaScript Bundle (includes Popper) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-QF1CF0/BBu1YvPQvmP0u/Z+E05b3ZlMLC1Ew7quom+2obXfjiaI3Fr0ofY7NWQxl" crossorigin="anonymous"></script>
  
  </head>
  <body class="align:center";
    "style="">
    <h1>@message</h1>
    <p>This is a simple webpage hosted in Scala using Play Framework.</p>
  </body>
</html>
